<main class="main">
  <div class="inner">
   <div class="search-form">
     <%= link_to '練習メニュー検索', search_posts_path %>
   </div>
   <div class="tr-index">
     練習メニューの一覧
   </div>
   <div class="card__wrapper">
       <%= render partial: 'post', collection: @posts %>
   </div>
  </div>   
</main>